body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#E8EDFD;
    margin: 0px;
    padding: 0px;
    color: #FFF;
  
   
}


h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    color: #061542;
    
}
h2{
    color: #F4320B;
    border-radius: 8px;
    background-color: #061542;
    margin-right: 20px;
  
    padding: 15px;
}
.div1{
   background-color:#061542;
   border-radius: 10px;
   margin-top: 40px;
   margin-left: 320px;
   width: 400px;
   padding: 2px;
}
strong {
     color: #F4320B;
}
 .div0{
   border: solid 1px #BDCCF9;
   border-radius: 10px;
   background-color:#E8EDFD;
   width: 1200px;
   height: 1200px;
   margin: 70px;
   padding-left: 20px;

 }
 
 .p1,.p2, .p3{
   color: #061542;
   font-weight: bold;
    background-color:#BDCCF9;
    text-align: left;
    border: solid 1px #BDCCF9;
    border-radius: 6px;
    width: 70%;
    margin: 20px;
    margin-left: 37%;
    padding: 10px;
   text-transform: capitalize;


 }

 .div2 p {
   color: #FFF;
   font-weight: bold;
    background:#061542;
    display: inline-block;  
    border: solid 1px #BDCCF9;
    border-radius: 6px;
    padding: 15px;
    padding-top: 50px;
    height: 60px;
   
   
  
   
 }
 .p4{
   position:relative;
   left: 10px;
 }
 .p5{
   position:relative;
   left: 10px;
 }
 .p6{
   position:relative;
   left: 10px;
 }

 .div3 h2{
    color: #FFF;
 }


 .div3{
    color: #FFF;
    background: #061542;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    width: 700px;
    height: 200px;
    position: relative;
    left: 30%;
    
 }
 .divx{
   background-color: #F4320B;
   border-radius: 8px;
   height: 500px;
   margin-right: 20px;
   padding :0.1%;
 }
  

 .div4{
    color: #061542;
    padding-top: 30px;
    padding-left: 10px;
    
    border-radius: 8px;
    background:#BDCCF9;
    text-align: left;
    width: 600px;
    height: 150px;
    position: relative;
    right: 30%;
    margin-top:-20px;
    
 }
 h5{
    text-align: left;
    text-decoration: underline;
    font-style: italic;
    color: #061542;
    margin-left: 100px;
    margin-top:-20px;
    text-decoration: none;
 }
 .px{
   margin-top: -20px;
 }
 span{
    border: solid 1px #F4320B;
    border-radius: 4px;
    padding: 3px;
    background-color: #F4320B;
 }
 .div4 strong{
    color: #F4320B;
    font-size: large;
    text-decoration: underline;
   
 }
 dd em{ 
    font-size: 30px;
 }
.p1 strong {
   color: #F4320B;
   font-size: large;
 }
 .p2 strong {
   color: #F4320B;
   font-size: large;
 }
  .p3 strong {
   color: #F4320B;
 }
