body{
    background-color: aliceblue;
}
h1{
    color :darkblue;
    text-align: center;
}
h2{
    color :darkorange;
    text-align: center;
}
h3{
    color: darkblue;
    text-align: center;
}
p{
    color :black;
    font-size: 20px;
    text-align: justify;
}