body{
    background: black;
    color: antiquewhite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
   
    text-align: center;
     margin-top: 50px;

}
h1 span{
    background:  rgb(4, 15, 63);;
      border: solid 2px white;
      border-radius: 4px;
      padding: 10px;
   
      
      
}
.divprincipale{
    text-align: justify;
    background-color: rgb(4, 15, 63);
    border: solid 2px white;
    border-radius: 4px;
    height: 670px;
    width: 500px;
    padding: 50px;
    margin :100px;
    margin-left: 370px;
    margin-top: 65px;
}
.div1{
    background-color: rgb(34, 34, 34);
    padding: 10px;
    border: solid 1px white;
    border-radius: 5px;
}
.div2{
    background-color: rgb(34, 34, 34);
    padding: 10px;
    border: solid 1px white;
    border-radius: 5px;
}
.div3{
    background-color: rgb(34, 34, 34);
    padding: 10px;
    border: solid 1px white;
    border-radius: 5px;
}
.div4{
text-align: center;
}
.div4 a{
    text-decoration: none;
}

.button{
    background-color: rgb(4, 15, 63);
    margin-top: 20px;
    padding: 10px;
    width: 120px;
    border: solid 4px rgb(235, 221, 29);
    border-radius: 10px;
    color: aliceblue;
    text-transform: uppercase;
    font-style: italic ;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.div1 h2{
    color: #11d10a;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.div1 p strong {
    color:  #11d10a;
}
.div2 h2{
    color: rgb(211, 122, 6);
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.div2 p strong {
    color: rgb(211, 122, 6);
}
.div3 h2{
    color: #069e64;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.div3 p strong {
    color: #069e64;
}